.container {
  height: 100vh;
  width: 100%;
  /* background-color: #0a0a0a; */
}

.bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.cover {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
/*   text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1); */

.contentContainer {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 11%;
}
.content {
  visibility: hidden;
}
.content h1,
.content p,
.content h3 {
  position: relative;
  z-index: 10;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  color: #edfffc;
}

.content h1 {
  font-family: "Heebo", sans-serif;
  font-size: 72px;
  font-weight: 500;
}

.content p {
  font-size: 30px;
  margin-bottom: 17%;
  letter-spacing: -0.05em;
  font-weight: 400;
  overflow: hidden;
}
.content p span.typedText {
  font-weight: normal;
  color: #edfffc;
}
.content p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.content p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.ref {
  font-size: 30px !important;
  font-weight: 400 !important;
  color: #898989 !important;
  margin-top: -10px;
}

.photo {
  visibility: hidden;
  box-shadow: rgba(196, 196, 196, 0.25) 0px 34px 55px,
    rgba(196, 196, 196, 0.12) 0px -12px 30px,
    rgba(196, 196, 196, 0.12) 0px 4px 6px,
    rgba(196, 196, 196, 0.17) 0px 12px 13px,
    rgba(196, 196, 196, 0.09) 0px -3px 5px;
}

.photo span {
  display: block !important;
}

@media screen and (max-width: 480px) {
  .contentContainer {
    margin-top: 30%;
    flex-direction: column;
    justify-content: center;
  }
  .content {
    order: 2;
    width: 60%;
  }

  .content h1 {
    font-size: 36px;
  }

  .content p {
    font-size: 18px;
    margin-bottom: 14%;
  }
  .ref {
    font-size: 18px !important;
    margin-top: -6px;
  }
  .photo {
    width: 60%;
    order: 1;
    margin-bottom: 14%;
  }
}
